    <div class="masthead">
      <h1 class="masthead-title">the Directed Reading Program</h1>
    </div>

{% assign       nodes="apply | bookshelf | talks | expectations | faq | archive"       | split: ' | ' %}
{% assign title="Application | Bookshelf | Talks | Expectations | FAQ | Past Readings" | split: ' | ' %}

    <nav class="navbar navbar-drp navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand{% if page.url == '/drp/' %} active{% endif %}" href="{{ site.baseurl }}/drp/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav mr-auto">
	  {%- for i in (0..3) -%}
	  <li class="nav-item">
	    <a class="nav-link{% if page.url contains nodes[i] %} active{% endif %}"
	       href="{{ site.baseurl }}/drp/{{nodes[i]}}">{{title[i]}}</a>
	  </li>
	  {%- endfor %}

	  <li class="nav-item dropdown">
	    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
	       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	      Resources
	    </a>

	    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	      {%- for i in (4..5) -%}
	      <a class="dropdown-item {%- if page.url contains nodes[i] %} active{% endif %}"
		 href="{{ site.baseurl }}/drp/{{nodes[i]}}">
		{{title[i]}}
	      </a>
	      {%- endfor %}

	      <div class="dropdown-divider"></div>

	      <a   class="dropdown-item" href="https://sites.google.com/view/sonnguyenvt/umrs">
		UMRS
	      </a>
	      <a   class="dropdown-item" href="https://sites.google.com/view/drp-network">
		DRP Network
	      </a>
	      <a   class="dropdown-item" href="https://sites.google.com/umn.edu/wim-umn/resources">
		Other UMN Programs
	      </a>
	    </div>
	  </li>
	</ul>
      </div>
    </nav>
