---
sitemap: false
---

$masthead-font: Palatino, serif;
$main-font: Palatino, serif;
$heading-font: Palatino, serif;

$link-color: #022b6d;
$link-hover-color: #527bbd;

body {
    max-width: 90%;
    margin: auto auto 50px 0;
    font-family: Palatino, serif;
}

.wrapper {
    display: flex;
    width: 95%;
    max-width: 1000px;
    align-items: stretch;
    align-content: stretch;
    padding-bottom: 8px;
}

p {
    text-align: justify;
    max-width: 95%;
    margin: 0 auto;
}
li.flipper {
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(25,25,25,.16);
    display:inline-block;
    height:50px;
    margin: 0px 5px 0px;
    position:relative;
    transition: border-color .1s linear, box-shadow .1s linear;
    width:250px;
    white-space: nowrap;
}
a.flipper {
    color: $link-hover-color;
    font-size:20px;
    font-weight:bold;
    height:48px;
    width:248px;
    align-items:center;
    justify-content:center;
    display:flex;
    position:absolute;
    background-color: white;
    text-decoration-color:rgb(25, 25, 25);
    transition: background-color .1s linear, color .1s linear!important;
}

li.flipper:hover {
    border: 1px solid green;
    box-shadow: 0 1px 2px 0 green;
}

a.flipper:hover {
    background-color: green;
    color: white;
}

h1 { font-size: 2em; border-bottom: none; }
h2 { font-size: 1em; }

.masthead {
    padding-bottom: 0.2em;
    margin-bottom: 1em;
    border-bottom: none;
    font-size: 34px;
    font-variant: small-caps;
}

#content {
    padding-left:2em;
}

a.menu-item:link,
a.menu-item:visited,
a.menu-item:hover {
    color: $link-hover-color;
    text-decoration: none;
}
a.menu-item.active:link,
a.menu-item.active:visited {
    color: $link-color;
    text-decoration: none;
    border-bottom: 1px gray solid;
}
