<!DOCTYPE html>
<html lang="en-us">
{% include head.html %}
  <body class="wrapper">

    {%- comment %} This if statement decides which sidebar to use {% endcomment %}
    {%- if page.toc %}
{% include_relative {{ page.toc }} %}
    {%- else %}
{% include sidebar.html %}
    {% endif -%}

    <div id="content">
      <div class="masthead">
        <h1 class="masthead-title">
	  {%- if page.tagline -%}
          {{ page.tagline | newline_to_br }}
	  {%- elsif page.title -%}
          {{ page.title | newline_to_br }}
	  {%- endif -%}
        </h1>
      </div>

<!-- ########################################################################################### -->
{{- content -}}
<!-- ########################################################################################### -->
    </div>

{%- include foot.html %}
  </body>
</html>
